@model IEnumerable<module04_08.Models.Comment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetOtherComments</title>
</head>
<body>
    <div>
        <h1>Get Comments</h1>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Id -- @item.Subject</li>
            }
        </ul>
    </div>
</body>
</html>
